/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;

}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

a {
	color: #000000;
	text-decoration: none;
	margin-right: 50px;
}

nav {
	display: inline-block;
	margin: 100px;
	width: auto;
}

nav.logo {
	margin-right: 100px;
	padding: 20px;
}

.cta {
	width: auto;
}

.cta-text {
	margin: 20px 100px 20px 100px;
	display:inline-block;
	font-size: 250%;
	width: 500px;
	text-align: center;
}

hr {
	border: 0;
	height: 1px;
}

.top-content {
	margin: 0 100px 0 100px;
	width: auto;
}

.text-content{
	display: inline-block;
	text-align: left;
	padding: 20px;
	width: 40%;
}

.middle-img {
	margin: 0 100px 0 100px;
	width: 1080px;
	align: center;
}

.bottom-content {
	margin: 0 100px 0 100px;
	width: auto;
}

.bottom-text-content {
	display: inline-block;
	text-align: left;
	padding: 20px;
	width: 27%;
}

.contact {
	margin: 20px 100px 20px 100px;
}

footer {
	text-align: center;
}
